<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Finance.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F9159E6420C4E853002BFB1B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F9159E7C20C4E855002BFB1B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F9159E8720C4E855002BFB1B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
